 <div class="container">

      <div class="center greeting ">
        <h2>Greet</h2>
      </div>

        <div class="nameBox center">

          <div class="name">
            <strong>Name:</strong>
            <input class="textInputBox" name="name" class = "greetName" value = "" ></input>

          </div>

          <div class="counter">
            <strong>Number:</strong>
            <span class="counterNameDisplay"><span class="counterDisplay" value = "" >{{nameCounter}}</span></span>
          </div>

        </div>

</div>
