<div class="container">

  <div class="center nameHeading ">
    <h2>Greet</h2>
  </div>

  <form class="" action="/greeted" method="post">

    <div class="nameBox center">

      <div class="name ">
        <strong>Name:</strong>
      </div>

      <div class="textInputBox">
        <input  name="name" class = "greetInputName" value = "" ></input>
      </div>

      <div class="counter">
        <strong>Number:</strong>
        <span class="counterNameDisplay"><span class="counterDisplay" value = "" >{{nameCounter}}</span></span>
      </div>
    </div>

        <div class="radioBtn center">
            <h3>Select a Language</h3>
          <div class="language center">
          <input type="radio" name="language" class="languageRadio" value="afrikaans">
            <span class="label-body">Afrikaans</span>
          </div>

          <div class="language center">
          <input type="radio" name="language" class="languageRadio" value="english">
            <span class="label-body">English</span>
          </div>

          <div class="language center">
          <input type="radio" name="language" class="languageRadio" value="xhosa">
            <span class="label-body">isiXhosa</span>
          </div>
        </div>

        <div class = 'DisplayField'>

          <span class="nameOfPerson"><span class="displayName"></span><strong>{{nameGreeted}}</strong></span>
        </div>

        <div class="clickButtons center ">

          <div class="greetButton ">
              <button class="greetMeBtn" type="submit" name="button">Greet</button>
          </div>

          <div class="resetButton ">
            <a href="/reset"><button class="resetTheBtn" type="submit"  name="button">Reset</button></a>
          </div>
        </div>
      </form>

        <div class="center">
          <a href="/counter">Counter</a>
        </div>


</div>
