html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: monospace;
  font-style: normal;
  font: courier;
}

.container {
  width: 90%;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;

}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
